{% extends 'base.html' %}


{% load static %}


{% block title %}
    添加视频
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="card-link" href="{{ course.get_absolute_url }}">{{ course }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">添加课程视频</li>
          </ol>
            <div class="form-group">
                <label for="video-file" class="col-form-label btn btn-outline-success">上传视频</label>
                <input id="video-file" type="file" style="display:none" accept="video/*">
            </div>
            <div id="video-preview">

            </div>
            <div class="form-group">
                <label for="title" class="col-form-label">视频标题</label>
                <input class="form-control" id="title">
            </div>

            <div class="form-group">
                <label for="overview" class="col-form-label">视频概述</label>
                <textarea class="form-control" rows="5" id="overview"></textarea>
            </div>


            <button class="btn btn-block btn-info mt-3" id="btn-add">
                确认添加
            </button>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'js/qiniu.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/md5.js' %}"></script>
    <script type="text/javascript">
        $("#video-file").change(function(){
            var objUrl = getObjectURL(this.files[0]) ;
            $('input#title').val(this.files[0].name);
             // 只选择图片文件
            if (!this.files[0].type.match('video.*')) {
                tips('选择文件为视频类型', 'danger');
                return false;
            }
             console.log("objUrl = "+objUrl) ;
             if (objUrl) {
                 var video = '<video class="mw-100 video" src="'+ objUrl +'" controls="controls"></video>';
                 $('div#video-preview').empty().append(video);

             }else{
                 tips('选择文件出错, 请稍后重试', 'danger');
                 return false;
             }
         });
        // 建立一个可存取到该file的url
         function getObjectURL(file) {
             var url = null ;
             if (window.createObjectURL !== undefined) { // basic
                 url = window.createObjectURL(file) ;
             } else if (window.URL !== undefined) { // mozilla(firefox)
                 url = window.URL.createObjectURL(file) ;
             } else if (window.webkitURL !== undefined) { // webkit or chrome
                 url = window.webkitURL.createObjectURL(file) ;
             }
             return url ;
         }

        $('button#btn-add').click(function () {

            var file = $("input#video-file")[0].files[0];
            if (file === null || file === undefined){
                tips('视频不能为空', 'danger');
                return false;
            }

            var title = $('input#title').val();
            var overview = $('textarea#overview').val();
            if (isEmptyText(title, overview)){
                tips('视频标题、概述不能为空', 'danger');
                return false;
            }

            var kargs = {
                'token': '{{ token }}',
                'username': '{{ username }}',
                'file': file,
                'saveUpload': function () {
                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: '/course/video/add/',
                        data: {'title': title, 'overview': overview, 'courseId': {{ course.id }}, 'videoUrl': arguments[0]},
                        async: true,
                        success: function (data) {
                            pageLoader('hide');
                            if (data.msg === 'ok'){
                                tips('提交成功~', 'success');
                                setTimeout(function () {
                                    window.location.href = '/course/detail/' + data.id + '/';
                                }, 1500);

                            }else {
                                tips('哎呀，提交失败了~，请再试一次吧');
                                setTimeout(function () {
                                    location.reload();
                                }, 1500);
                            }
                        }
                    });

                }
            };
            uploadVideo(kargs);
        });


    </script>
{% endblock %}
