{% extends 'bs-base.html' %}

{% load course_tags %}
{% load comment_tags %}

{% block title %}
   课程详情 - {{ object }}
{% endblock %}



{% block content %}

    {% check_is_subscriber object request.user as is_course_subscriber %}
    {% is_owner course request.user as is_owner %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'courses:course-list' %}">课程列表</a></li>
          {% if is_course_subscriber %}
            {% get_course_progress object request.user as course_progress %}
                <li class="breadcrumb-item active" aria-current="page">{{ object }}
                    <span class="badge badge-danger badge-pill">{{ course_progress }}%</span>
                </li>
          {% else %}
              <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
          {% endif %}

      </ol>
    </nav>
    {% if course.overview %}
        <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-light rounded">
            <div class="card  border-0">
                <div class="card-body bg-light">
                    <h5 class="card-title ">课程概述</h5>
                    <h6 class="card-subtitle mb-1 text-muted">{{ object.overview|markdown }}</h6>
                </div>
            </div>
        </div>
    {% endif %}


{#    <div class="jumbotron jumbotron-fluid rounded">#}
{#        <div class="container">#}
{#            <h1 class="display-5">{{ object }} <small><span class="badge badge-danger">85%</span></small> </h1>#}
{#            <p class="lead">{{ object.overview }}</p>#}
{#        </div>#}
{#    </div>#}

    {% for chapter in chapter_list %}
        <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-light rounded ">
            <div class="card  border-0">
            <div class="card-body bg-light">
                <h5 class="card-title ">
                    <span>第 {{ chapter.chapter_number }} 章 {{ chapter }}</span>
                    {% if is_owner %}
                        <span class="ml-2">
                            <small>
                                <a href="{% url 'courses:upload-video' course.id chapter.id %}">添加视频</a>
                            </small>
                        </span>
                    {% endif %}
                </h5>
                <h6 class="card-subtitle mb-1 text-muted">{{ chapter.overview }}</h6>
                <div class="card-text small">
                    <div class="list-group  border-0">
                    {% with chapter.video_set.all as videos %}
                        {% for video in videos %}
                            {% if is_course_subscriber %}
                                {% get_video_progress video request.user as video_progress %}
                                <a href="{{ video.get_absolute_url }}" class="list-group-item list-group-item-action bg-light border-0 pl-1">
                                    <i class="fa fa-play-circle-o text-danger" aria-hidden="true"></i> {{ video }}
                                    <span class="badge badge-danger badge-pill">{{ video_progress }}%</span>
                                </a>
                            {% else %}
                                <a href="{{ video.get_absolute_url }}" class="list-group-item list-group-item-action bg-light border-0 pl-1">
                                    <i class="fa fa-play-circle-o text-danger" aria-hidden="true"></i> {{ video }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                        <a href="{% url 'questionbanks:test-list' course.id chapter.chapter_number %}" class="list-group-item bg-light list-group-item-action border-0 pl-1">
                            <i class="fa fa-file-text-o text-danger" aria-hidden="true"></i> 章节习题
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    {% endfor %}
{% endblock %}


{% block sidebar %}
    <div class="sidebar">
        <h6 class="border-bottom border-gray pb-2 mb-0">创作者</h6>
        <div class="media text-muted pt-3">
            <img src="{{ object.user.avatar_url }}" alt="" class="user-avatar mr-2 rounded">
            <div class="media-body pb-3 mb-0 small lh-125">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">{{ object.user }}</strong>
                </div>
                <span class="d-block">{{ object.user.date_joined|timesince }}前加入</span>
            </div>
        </div>
        <h6 class="border-bottom border-gray pb-2 mb-0">开课班级</h6>
        {% for class_grade in class_grade_list %}
            <div class="media text-muted pt-3 class-grade-list">
              <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                  <strong class="text-gray-dark"><a href="{{ class_grade.get_absolute_url }}">{{ class_grade }}</a></strong>
                  {% if request.user.is_authenticated %}
                      {% check_is_subscriber object request.user class_grade.id as is_class_subscriber %}
{#                      <a class="class-grade-item"#}
{#                         data-classgrade="{{ class_grade.id }}"#}
{#                         data-course="{{ object.id }}"#}
{#                         data-login="{% if not request.user.is_authenticated %}un{% endif %}login"#}
{#                         data-action="{% if is_class_subscriber %}un{% endif %}subscribe"#}
{#                         href="javascript:void(0)">#}
{#                         {% if is_class_subscriber %}#}
{#                             <i class="fa fa-check"></i> 已订阅#}
{#                         {% else %}#}
{#                             <i class="fa fa-plus"></i> 订阅#}
{#                         {% endif %}#}
{#                      </a>#}
                      {% if is_class_subscriber %}
                            <a class="text-success">
                                <i class="fa fa-check"></i> 已订阅
                            </a>
                      {% else %}
                          <a class="" id="cg-{{ class_grade.id }}"
                             data-cgid="{{ class_grade.id }}"
                             data-toggle="modal"
                             data-target="#subscribe-modal"
                             data-title="{{ class_grade.title }}"
                             href="javascript:void(0)">
                              <i class="fa fa-plus"></i> 订阅
                          </a>
                      {% endif %}

                    {% endif %}
                </div>
                <span id="subscribe-count-{{ class_grade.id }}">{{ class_grade.students_count }}</span>
                <span>人订阅</span>
              </div>
            </div>
        {% empty %}
            <p class="pt-2">暂无班级</p>
        {% endfor %}

        {% ifequal course.user request.user %}
            <a class="btn btn-info mt-3 btn-block" href="{% url 'courses:add-classgrade' course.id %}" role="button">
               <i class="fa fa-plus"></i> 添加班级
            </a>
            <a class="btn btn-info mt-3 btn-block" href="{% url 'courses:add-chapter' course.id %}" role="button">
               <i class="fa fa-plus"></i> 添加章节
            </a>
        {% endifequal %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="subscribe-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="review-form">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <p class="card-text">
                           <input type="text" class="form-control subscribe-code" placeholder="请输入班级邀请码">
                        </p>
                        <button data-cgid="0"
                                class="card-link btn btn-outline-success float-right subscribe">
                            提交
                        </button>
                    </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock %}



