{% extends 'bs-base.html' %}

{% load course_tags %}

{% block title %}
    {{ classgrade }}
{% endblock %}


{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'courses:course-list' %}">课程</a></li>
          <li class="breadcrumb-item"><a href="{{ classgrade.course.get_absolute_url }}">{{ classgrade.course }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ classgrade }}
          </li>
      </ol>
    </nav>
    {% if is_subscriber %}
        <h6 class="border-bottom border-gray pb-2 mt-3 mb-3">班级活动</h6>
        {% for sign_in in sign_ins %}
            {% check_is_sign request.user sign_in.id as is_sign %}
            {% if sign_in.is_active %}
                <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-light rounded ">
                    <div class="card border-0">
                      <div class="card-body bg-light">
                        <h5 class="card-title">{{ sign_in.created }} 发起了签到</h5>

                        <span class="card-link badge badge-pill badge-info">正在进行</span>

                          {% if is_sign %}
                              <span class="card-link badge badge-pill badge-success">已签到</span>
                          {% else %}
                              <span class="card-link badge badge-pill badge-danger">未签到</span>
                              <button
                               data-toggle="modal"
                               data-target="#sub-sign-modal"
                               data-title="{{ sign_in.created }} 签到"
                               data-sid="{{ sign_in.id }}"
                               class="card-link btn btn-outline-info btn-sm">点击签到</button>
                          {% endif %}
                      </div>
                    </div>
                </div>
            {% else %}
                <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-light rounded ">
                    <div class="card border-0">
                      <div class="card-body bg-light">
                        <h5 class="card-title">{{ sign_in.created }} 发起了签到</h5>

                        <span class="card-link badge badge-pill badge-info">已经结束</span>
                          {% if is_sign %}
                              <span class="card-link badge badge-pill badge-success">已签到</span>
                          {% else %}
                              <span class="card-link badge badge-pill badge-danger">未签到</span>
                          {% endif %}
                      </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}

    {% endif %}



    <!-- Modal -->
    <div class="modal fade" id="sub-sign-modal" tabindex="-1" role="dialog" aria-labelledby="sub-sign-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="review-form">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <p class="card-text">
                           <input type="text" class="form-control sub-sign-code" placeholder="请输入签到码">
                        </p>
                        <button data-sid="0" class="card-link btn btn-outline-success float-right sub-sign">
                            提交
                        </button>
                    </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}


{% block sidebar %}
    <div class="sidebar">
        <h6 class="border-bottom border-gray pb-2 mb-0">创作者</h6>
        <div class="media text-muted pt-3">

            <img src="{{ classgrade.course.user.avatar_url }}" alt="" class="user-avatar mr-2 rounded">

            <div class="media-body pb-3 mb-0 small lh-125">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">
                    <a href="{{ classgrade.course.user.get_absolute_url }}">
                        {{ classgrade.course.user }}
                    </a>
                    </strong>
                </div>
                <span class="d-block">{{ classgrade.course.user.date_joined|timesince }}前加入</span>
            </div>
        </div>

        <h6 class="border-bottom border-gray pb-2 mb-3">订阅者({{ classgrade.students_count }})</h6>
        {% for student in students %}
            <div class="media text-muted">
                <a href="{{ student.get_absolute_url }}">
                    <img src="{{ student.avatar_url }}" alt="" class="user-avatar mr-2 rounded">
                </a>
                <div class="media-body pb-3 small lh-125">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">
                            <a href="{{ student.get_absolute_url }}">{{ student.get_num_name }}</a>
                        </strong>
                    </div>
                    <span class="d-block">{{ student.date_joined|timesince }}前加入</span>
                </div>
            </div>
        {% empty %}
            <p class="pt-2">暂无订阅者</p>
        {% endfor %}
    </div>
{% endblock %}
