{% extends 'base.html' %}

{% load course_tags %}


{% block title %}
   课程详情 - {{ course }}
{% endblock %}



{% block content %}

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="p-3 mb-3 bg-light rounded ">
                <div class="d-flex justify-content-md-start align-items-center ">
                    <div>
                        <a href="{{ course.user.get_absolute_url }}">
                            <img src="{{ course.user.avatar_url }}" alt="" class="user-avatar rounded-circle">
                        </a>
                    </div>
                     <div class="ml-3">
                         <a href="{{ course.user.get_absolute_url }}" class="card-link">
                             {{ course.user }}
                         </a>
                         <span class="card-link text-muted">
                            {{ course.view_count }} 浏览量
                        </span>
                        <span class="card-link text-muted">
                            {{ course.created }}
                        </span>
                     </div>
                </div>
                <div class="d-flex justify-content-md-between align-items-center mt-1">

                    <div class="mr-3">
                        <h5>
                            {{ course }}
                        </h5>
                        <span class="text-muted">{{ course.overview}}</span>
                    </div>
                    <div class="">
                        <a href="{{ course.get_absolute_url }}">
                            <img class="img-warp rounded box-shadow" alt="" src="{{ course.img_url }}">
                        </a>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4 d-flex justify-content-md-between">
                <a class="btn btn-light text-red " href="{% url 'courses:add-video' course.id %}" role="button">
                    <i class="fa fa-upload"></i> 上传视频
                </a>
                <a class="btn btn-light text-red" href="{% url 'courses:add-class' course.id %}" role="button">
                  <i class="fa fa-graduation-cap "></i> 创建班级
                </a>
                <a class="btn btn-light  text-info " href="{% url 'courses:add-course-resource' course.id %}" role="button">
                    <i class="fa fa-file"></i> 添加资源
                </a>
                <a class="btn btn-light text-info" href="#" role="button">
                    <i class="fa fa-file"></i> 导入习题
                </a>


            </div>

              <!-- 选项卡 -->
            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#video-list">课程视频 </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#comment-list">视频评论</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#resource-list">课程资源</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#class-list">开课班级</a>
                </li>


            </ul>

            <div class="tab-content mt-4">

                <div class="tab-pane active" id="video-list">
                    {% include 'course/video-list.html' with videos=video_list is_subscriber='ko' %}
                </div>

                <div class="tab-pane fade " id="comment-list">
                    {% include 'comment/course-detail-list.html' with comments=comment_list %}
                </div>

                <div class="tab-pane fade" id="resource-list">
                    {% for resource in resource_list %}
                        <div class="">
                            <a target="_blank" class="card-link" href="{{ resource.url }}">{{ resource.title }}</a>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="class-list">
                    {% for class in class_list %}

                            <div class="d-flex justify-content-between align-items-center ">
                                <div>
                                    <a class="card-link" href="{{ class.get_absolute_url }}">
                                        {{ class }}
                                    </a>
                                </div>
                                <div>
                                    <span class="text-muted">{{ class.students_count }} 人加入</span>
                                </div>
                            </div>
                        <hr>
                        {% endfor %}
                </div>




            </div>

        </div>
    </div>

{% endblock %}






