<div class="d-flex justify-content-md-start align-items-center">
    <div>
        <a href="{{ course.get_absolute_url }}">
            <img class="img-warp rounded box-shadow" alt="" src="{{ course.img_url }}">
        </a>
    </div>
    <div class="ml-3 text-truncate">
        <h5>
            <a href="{{ course.get_absolute_url }}" class="card-link">
                {{ course.title|truncatechars:25 }}
            </a>
        </h5>
        <h6 class="">
            {{ course.overview|truncatechars:25 }}
        </h6>
        <a href="{{ course.user.get_absolute_url }}" class="card-link badge badge-light text-red">
            {{ course.user }}
        </a>
        <span class="card-link text-muted small">
            {{ course.view_count }} 浏览量
        </span>
        <span class="card-link text-muted small">
            {{ course.created|timesince }}前发布
        </span>
    </div>
</div>
