{% extends 'base.html' %}

{% load static %}
{% load comment_tags %}

{% block title %}
    {{ object }}
{% endblock %}


{% block content %}

    <div class="row mb-5">
        <div class="col-md-10 offset-md-1 ">



            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a class="card-link" href="{{ video.course.get_absolute_url }}">{{ video.course }}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">视频详情</li>
              </ol>
            </nav>

            {% if vwp is not None and vwp != 100 %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>友情提示:</strong> 观看记录暂时采用单位分钟间断统计, 请观看时间久一点。
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}


            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="text-muted">{{ video.title }}</h4>
                <h6 class="text-muted">{{ video.overview}}</h6>
                {% if vwp is not None %}
                    <span class="card-link text-red">视频学习进度: <span id="vwp">{{ vwp }}</span>%</span>
                {% endif %}
            </div>



            <div class="mb-2" id="mse"></div>

            <div class="comment-form mt-5">
                <div class="form-group">
                    <textarea class="form-control bg-light" placeholder="写下你的评论..." rows="3" id="comment-text-0"></textarea>
                </div>


                {% if request.user.is_authenticated %}
                    <div class="mt-2">
                         <button data-vid="{{ video.id }}"
                                 data-cid="0"
                                 class="btn btn-sm btn-outline-success float-right"
                                 id="btn-comment">
                             发表评论
                         </button>
                    </div>
                {% else %}
                    <div class="mt-2">
                         <a role="button" target="_blank" href="{% url 'users:no-login' %}" class="btn btn-sm btn-outline-success float-right">
                             登录后回复
                         </a>
                     </div>
                {% endif %}
            </div>
            <h6 class="border-bottom border-gray pb-2 mt-5">
                <strong>
                    <span class="comment-count">{{ comment_list.count }}</span> 条评论
                </strong>
            </h6>
            <div class="mt-3" id="comment-list">

                {% include 'comment/list.html' with comments=comment_list %}

            </div>

        </div>

    </div>

{% endblock %}



{% block js %}
    <script src="{% static 'xgvideo/index.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        var player = new Player({
            el:document.querySelector('#mse'),
            url: '{{ video.url }}',
            fluid: true,
            keyShortcut: 'off',
{#            poster: '{{ video.url }}?vframe/jpg/offset/7/w/1150/h/645',#}
            controlsList: ['nodownload','nofullscreen'],
            {% if progress %}
            progressDot: [{time: {{progress}}}],
            {% endif %}
        });

        $('#playerControlBtn').remove();

        {% if vwp is not None and vwp != 100 %}
            vwp(player, {{ progress }}, {{ object.course.id }}, {{ object.id }}, '/course/addvwp/');
        {% endif %}
    </script>

    <script type="text/javascript">

        $('button#btn-comment').click(function () {
            var $this = $(this);
            var videoId = $this.data('vid');
            var commentId = $this.data('cid');
            var commentTextArea = $("textarea#" + 'comment-text-' + commentId);
            var commentText = $.trim(commentTextArea.val());
            if (commentText === ''){
                tips('评论内容不能为空~', 'danger');
                return false;
            }
            console.log(commentText);
            $.ajax({
                cache: false,
                type: 'POST',
                url: '/comment/add/',
                data: {'pid': commentId, 'vid': videoId, 'content': commentText},
                async: true,
                success: function (data) {
                    if (data['msg'] === 'ok'){
                        tips('发布成功~', 'success');
                        var commentCount = $('span.comment-count');
                        commentCount.text(parseInt(commentCount.text()) + 1);
                        $('div#comment-list').prepend(data['cmt']);
                        commentTextArea.val('');
                    } else {
                        tips('发布失败, 请刷新后重试', 'danger');
                    }
                }
            });

        });

    </script>
{% endblock %}