<div class="d-flex justify-content-start align-items-start mt-3">
    <div >
        <a href="">
            <img class="user-avatar rounded-circle" src="{{ comment.user.avatar_url }}" alt="">
        </a>

    </div>
    <div class="ml-3">
        <a class="card-link" href="{{ comment.user.get_absolute_url }}">{{ comment.user }}</a>
        <span class="card-link">{{ comment.created }}</span>

        {% if request.user.is_authenticated %}
            <a class="badge badge-light card-link text-red" data-toggle="collapse" href="#comment-{{ comment.id }}-collapse">
                回复
             </a>
        {% endif %}

        <div class="mt-1">
            {{ comment.content }}
        </div>
    </div>
</div>

{% if comment.parent %}
    <div class="mt-2 ml-5 border border-right-0 border-top-0 border-bottom-0 border-secondary pl-2">
        <a class="card-link" href="{{ comment.parent.user.get_absolute_url }}">@{{ comment.parent.user }}: </a>
        {{ comment.parent.content }}
    </div>
{% endif %}

<div class="collapse ml-5 mt-3 clearfix" id="comment-{{ comment.id }}-collapse">
    <div class="form-group">
        <textarea class="form-control bg-light" placeholder="@{{ comment.user }}:" rows="3" id="comment-text-{{ comment.id }}"></textarea>
    </div>
    <div class="mt-2">
         <button data-vid="{{ video.id }}"
                 data-cid="{{ comment.id }}"
                 class="btn btn-sm btn-outline-success float-right"
                 id="btn-comment">
             确认回复
         </button>
    </div>
</div>
<hr>