{% extends 'bs-base.html' %}

{% load course_tags %}
{% load user_tags %}

{% block title %}
    首页
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center p-3 text-white-50 bg-light rounded">
        <div class="lh-100">
          <h6 class="mb-0 lh-100">
              欢迎来到《还是课堂鸭》，在这里主要有以下功能：
              创建课程、上传课程视频、流畅的课程视频观看、为课程创建班级、加入班级、
              班级课程视频观看进度统计、班级课程签到统计、视频问答、生态题库等等
          </h6>
          <small>本站源码已经开源：<a href="https://github.com/sunmouren/hsedu">https://github.com/sunmouren/hsedu</a></small>
        </div>
    </div>
    <h6 class="border-bottom border-gray pb-2 mt-3">课程推荐</h6>
    <div class="course-list">
        {% get_hot_course as courses %}
        {% for course in courses %}
            <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-light rounded ">
                <div class="card border-0">
                  <div class="card-body bg-light">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        创作者: <a href="{{ course.user.get_absolute_url }}">{{ course.user }}</a>
                    </h6>
                    <p class="card-text text-truncate">{{ course.overview }}</p>
                    <span class="card-link">发布于: {{ course.created }}</span>
                    <a href="{{ course.get_absolute_url }}" class="card-link">查看详情</a>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidebar">

        <h6 class="border-bottom border-gray pb-2 mb-3">最新加入</h6>

        {% get_recent_users  as recent_user %}

        {% for user in recent_user %}
           <div class="media text-muted">
                <a href="{{ user.get_absolute_url }}">
                    <img src="{{ user.avatar_url }}" alt="" class="user-avatar mr-2 rounded">
                </a>
                <div class="media-body pb-3 small lh-125">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">
                            <a href="{{ user.get_absolute_url }}">{{ user }}</a>
                        </strong>
                    </div>
                    <span class="d-block border-bottom border-gray pb-2">{{ user.date_joined|timesince }}前加入</span>
                </div>
            </div>
        {% endfor %}

        {% get_user_count as user_count %}

{#        <small class="d-block text-right">#}
{#          <a href="#">全部用户 <span>{{ user_count }} 人</span> </a>#}
{#        </small>#}
    </div>
{% endblock %}