{% extends 'base.html' %}

{% load course_tags %}
{% load user_tags %}

{% block title %}
    首页
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-10 offset-md-1">

            {% get_course_banner_list as banner_list %}



                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner rounded " style="height: 280px">
                    {% for banner in banner_list %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %} " >
                            <a target="_blank" href="{{ banner.absolute_url }}">
                                <img class="d-block w-100" style="height: 280px"
                                     src="{{ banner.img_url }}" alt="banner">
                            </a>

                        </div>
                    {% endfor %}
                  </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


                <div class="row">
                    <div class="col-md-8">
                        <h6 class="mt-3 text-muted">热门课程 <a class="float-right card-link badge btn-light text-red" href="{% url 'courses:course-list' %}">全部课程</a></h6>
                        {% get_hot_course as courses %}
                        {% include 'course/list.html' with courses=courses %}
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 mt-3 bg-light rounded">
                            <h6 class="text-muted">在这里，我们提供模块有：课程模块、视频问答、班级模块、学习进度、多人在线视频互动等等</h6>
                            <span class="card-link"><a target="_blank" class=" card-link" href="https://github.com/sunmouren/hsedu">欢迎点击这里访问我们的开源地址，顺便给个小星星，谢谢！</a></span>
                        </div>
                        <div class="mt-3 ">
                            <h6 class="text-muted">最近加入的用户</h6>
                            <hr>
                            {% get_recent_users  as recent_user %}
                            {% for user in recent_user %}
                                <div class="d-flex justify-content-start align-items-center mb-3">
                                    <div>
                                        <a href="{{ user.get_absolute_url }}">
                                            <img src="{{ user.avatar_url }}" alt="" class="user-avatar-recent rounded-circle">
                                        </a>
                                    </div>
                                    <div class="ml-3 small">
                                        <strong class="d-flex">
                                            <a class="card-link" href="{{ user.get_absolute_url }}">{{ user }}</a>
                                        </strong>
                                        <span class="text-muted">
                                            {{ user.date_joined|timesince }}前加入
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>


                <div class="col-md-4">

                </div>



        </div>
    </div>
{% endblock %}