{% extends 'base.html' %}

{% load static %}

{% block title %}
     编辑资料 - {{ user }}
{% endblock %}


{% block content %}


    <div class="row">

        <div class="col-md-10 offset-md-1">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a class="card-link" href="{{ user.get_absolute_url }}">个人主页</a></li>
                  <li class="breadcrumb-item active" aria-current="page">修改信息</li>
              </ol>
            </nav>
            <div class="row">
                <div class="col-md-9">
                    <div class="card border-0">
                        <div class="card-body pt-0">
                            <div class="card-text">
                                <div class="form-group">
                                    <label for="username" class="col-form-label">用户名 <span class="text-danger">(不支持修改)</span></label>
                                    <input class="form-control" id="username" value="{{ user.username }}" disabled>
                                </div>
                                 <div class="form-group">
                                    <label for="signature" class="col-form-label">个性签名</label>
                                    <input class="form-control" id="signature" value="{{ user.signature }}">
                                </div>
                                <div class="form-group">
                                    <label for="stu-num" class="col-form-label">学号 <span class="text-danger">(用于订阅课程显示)</span></label>
                                    <input class="form-control" id="stu-num"
                                           value="{% if user.stu_num %}{{ user.stu_num }}{% endif %}">
                                </div>
                                <div class="form-group">
                                    <label for="stu-name" class="col-form-label">姓名 <span class="text-danger">(用于订阅课程显示)</span></label>
                                    <input class="form-control" id="stu-name"
                                           value="{% if user.stu_name %}{{ user.stu_name }}{% endif %}">
                                </div>
                                 <div class="form-group">
                                    <label for="nickname" class="col-form-label">昵称 <span class="text-danger">(用于除订阅课程外显示)</span></label>
                                    <input class="form-control" id="nickname" value="{% if user.nickname %}{{ user.nickname }}{% endif %}">
                                </div>
                            </div>
                            <button data-uid="{{ user.id }}"
                                    class="card-link btn btn-outline-success float-right update-profile">确认保存
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                     <div class="sidebar">
                        <h6 class="border-bottom border-gray pb-2 mb-0">正在使用头像</h6>
                        <img src="{{ user.avatar_url }}" class="user-avatar mt-3 rounded" id="avatar">
                        <h6 class="border-bottom border-gray mt-3 pb-2 mb-0">更换头像</h6>
                        <input type="file" class="mt-3" id="img" accept="image/*">

                         <button data-uid="{{ user.id }}"
                                 class="card-link btn btn-outline-success mt-3 update-avatar">确认更换
                         </button>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}


{% block sidebar %}
    <div class="sidebar">
        <h6 class="border-bottom border-gray pb-2 mb-0">正在使用头像</h6>
        <img src="{{ user.avatar_url }}" class="user-avatar mt-3 rounded" id="avatar">
        <h6 class="border-bottom border-gray mt-3 pb-2 mb-0">更换头像</h6>
        <input type="file" class="mt-3" id="img" accept="image/*">

         <button data-uid="{{ user.id }}"
                 class="card-link btn btn-outline-success mt-3 update-avatar">确认更换
         </button>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'js/qiniu.min.js' %}"></script>
    <script type="text/javascript">
        $('button.update-profile').click(function () {
            var uid = $(this).data('uid');
            var stuNum = $.trim($('input#stu-num').val());
            var stuName = $.trim($('input#stu-name').val());
            var nickname = $.trim($('input#nickname').val());
            var signature = $.trim($('input#signature').val());

            $.ajax({
                cache: false,
                type: 'POST',
                url: '/user/update/profile/',
                data: {'uid':uid, 'snum': stuNum, 'sname': stuName, 'nickname': nickname, 'signature': signature},
                async: true,
                success: function (data) {
                    if(data.msg === 'ok'){
                        tips('修改成功~', 'success');
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        tips('修改失败~, 请稍后重试', 'danger');
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    }
                }
            });
        });

        $('button.update-avatar').click(function () {



            var file = $("input#img")[0].files[0];

            if (file === null){
                tips('请选择头像文件后再执行', 'danger');
                return false;
            }

            var uid = $(this).data('uid');


            var filename = file.name;

            if (!/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(filename)){
                 tips('请确认选择的是图片类型', 'danger');
                return false;
            }


            var token = '{{ token }}';

            var key = "image/avatar/" + '{{ user.username }}' + '/' + filename;
            // 显示页面加载圈圈
            pageLoader('show');
            // 上传到七牛云
            uploadToQiNiu(file, key, token, uid);
        });

        // 更新头像
        function updateAvatar(msg, key, uid) {
            // 构建保存到服务器的avatar_url
            if (msg === 'ko'){
                pageLoader('hide');
                tips('修改失败~, 请稍后重试', 'danger');
                setTimeout(function () {
                    location.reload();
                }, 1500);
            }
            var avatar_url = key;
            $.ajax({
                cache: false,
                type: 'POST',
                url: '/user/update/avatar/',
                data: {'uid':uid, 'url': avatar_url},
                success: function (data) {
                    if(data.msg === 'ok'){
                        pageLoader('hide');
                        tips('修改成功~', 'success');
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        pageLoader('hide');
                        tips('修改失败~, 请稍后重试', 'danger');
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    }
                }
            });
        }

        // 上传到七牛云
        function uploadToQiNiu(file, key, token, uid) {
            var putExtra = {
                fname: "",
                params: {},
                mimeType: null
            };
            var config = {
              useCdnDomain: true,
              retryCount: 6,
            };
            var next = function () {
                // 暂无相关操作, 原本是用来显示加载圈圈的
            };
            var error = function () {
                pageLoader('hide');
                subscription.unsubscribe();
                updateAvatar('ko', key, uid);
            };
            var complete = function (res) {
                // 更新头像
                updateAvatar('ok', res.key, uid);
            };
            var observer = {
                next: next,
                error: error,
                complete: complete
            };

            var observable = qiniu.upload(file, key, token, putExtra, config);
            // 开始上传
            var subscription = observable.subscribe(observer);
        }
        // 获取上传token
        function get_token() {
            var datas;
            $.ajax({
                type: 'GET',
                url: '/course/upload/token/',
                async : false, // 一定要设置为false 不然返回不了data
                success: function (data) {
                    datas =  data;
                }
            });
            return datas;
        }

    </script>
{% endblock %}